# OS or Editor folders
._*
.cache
.DS_STORE
.project
.settings
.jshintrc
*.esproj
*.sublime-project
*.sublime-workspace
Thumbs.db

# Standard ignore
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*~
vendor/**
!vendor/accommodavid/threefold/**

# Config purposes
.htaccess
