<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
  <php>
        <server name='HTTP_HOST' value='http://localhost' />
        <server name="SERVER_NAME" value="http://localhost"/>
        <server name="SERVER_PORT" value="80"/>
        <server name="REMOTE_ADDR" value="127.0.0.1"/>
    </php>
</phpunit>